subscription_id = "AZURE_SUBSCRIPTION_ID"
tenant_id = "AZURE_TENANT_ID"
client_id = "AZURE_CLIENT_ID"
client_secret = "AZURE_CLIENT_PASSWORD"
admin_username = "guyser"
admin_password = "Sup3rS3cureP4ssw0rd"
hostname = "vaultraft"
location = "ukwest"
owner = "guybarros"
resource_group = "vaultraft"
servers = "3"
enterprise      = true
vaultlicense    = ""
vault_ent_url   = "https://releases.hashicorp.com/vault/1.4.0+ent/vault_1.4.0+ent_linux_amd64.zip"
vault_url       = "https://releases.hashicorp.com/vault/1.4.0/vault_1.4.0_linux_amd64.zip"
